body {
	background: none repeat scroll 0 0 #FFFFFF;
}

.logo{
	height:350px;
}

.logo img{
	width:20%;
	float:right;
}

.info{
	width:275px;
}

.info h1{
	font-size:3em;
	font-family: "Helvetica";
}

.info h2{
	font-family: "Georgia";
}
